# Virtual Envivironments
.venv

# Environment files
.env

# Build Files
dist
*.egg-info

# Certificates
*.pem

# Temporary folders
staged

# Cache Files
__pycache__

# Custom Files
my_plan.txt
plan_from_aidocgen.txt
temp*
